// colors
$color-black: #000;
$color-white: #fff;

$color-grey-1: #777;
$color-grey-2: rgb(162, 162, 162);
$color-grey-light: #f7f7f7;
$color-grey-light-2: #d8d8d8c9;

$color-orange-dark: #ff5900;
$color-orange: #ff820e;
$color-orange-light: #ff9e43;

$color-blue-dark: #0454ff;
$color-blue: #04c4ff;
$color-blue-light: #5aefff;

$color-blue-light-2: #07C2C9;

$color-blue-green: #04C2C9;
$color-blue-green-dark:#00A1A7;

$color-learn: #007B89;

$color-purple-light: #E7CDF1;
$color-purple-dark: rgb(76, 0, 106);

// margins
$margin-bottom-md: 6rem;


// grid
$grid-width: 95rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;