body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-1;
}

.heading-primary {
    color: $color-white;
    //text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 500;
        letter-spacing: .6rem;
        
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: .2rem;

    }
}
    
  .heading-secondary {
      
      text-transform: uppercase;
      display: inline-block;    
      letter-spacing: .2rem;
      transition: all .2s;
      text-shadow: 0 1rem 4rem rgba($color-black, .1);

      &__blue {
        font-size: 5rem;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-blue-light,  $color-blue);
        -webkit-background-clip: text;
        color:transparent;
      }

      &__white {
        font-size: 4.5rem;
        font-weight: 500;
        color: $color-white;
      }

      &:hover {
          transform: scale(1.1);
          text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
      }
  }  

  .heading-tertiary {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
  }

  .paragraph {
      font-size: 1.6rem;
      &:not(:last-child) {
          margin-bottom: 3rem;
      }
  }

